/* styles.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0f0f0f; 
}

header {
    background-color: #1e1e1e; 
    color: #e0e0e0; 
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 50px; 
    width: auto; 
    display: block;
}

nav {
    display: flex;
    align-items: center;
    flex: 1;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #b0b0b0; 
    font-size: 16px;
}

nav ul li a:hover {
    color: #25d1da; 
    border-bottom: 2px solid #25d1da; 
    padding-bottom: 2px;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input {
    height: 20px;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid #444; 
    background-color: #333; 
    color: #e0e0e0;
    margin-right: 5px;
}

.search-container input:focus {
    background-color: #444; 
    color: #ffffff; 
    border-color: #25d1da; 
}

.search-container i {
    background-color: #1db954; 
    border: none;
    border-radius: 20px;
    color: #ffffff; 
    padding: 5px ;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; 
}

.cta {
    margin-left: 50px;
}

.cta-container {
    display: flex;
    align-items: center;
}

.login-button {
    text-decoration: none;
    color: #e0e0e0;
    background-color: #333; 
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.login-button:hover {
    background-color: #444; 
    color: #ffffff; 
}

.cta-button {
    text-decoration: none;
    color: #e0e0e0;
    background-color: #333; 
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease; 
}

.cta-button:hover {
    background-color: #1db954; 
    color: #ffffff; 
}

/* Library Section */
.library {
    text-align: center;
    padding: 50px 20px;
}

.library-title {
    font-size: 2.5rem;
    color: #e0e0e0;
    margin-bottom: 30px;
}

.library-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 20px;
}

.library-item {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    color: #b0b0b0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.library-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1db954; 
    border: none;
    border-radius: 50%;
    color: #ffffff;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 24px;
    display: none;
}

.library-item:hover .play-button {
    display: block;
}

.library-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.library-item h3 {
    font-size: 1.5rem;
    margin: 10px 0 5px;
    color: #e0e0e0;
}

.library-item p {
    margin: 0;
    color: #a0a0a0;
}